* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    // font-weight: 500 700;
}

h1,h2,h3,h4,h5,h6,p,ol,ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'base/keyframes';
@import 'base/variables';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/main-section';
@import 'blocks/sidebar';