.button {
    display: block;
    background-color: $main-color;
    color: black;
    height: 45px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 25px;
}