.main {
    height: 100vh;
    padding-top: 205px;
    background: url('../img/human1.jpg') center center;
    color: #fff;
    &__subtitle {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
    }
    &__title {
        line-height: 1.35em;
        font-size: 48px;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        span {
            color: black;
            font-size: 50px;
        }
        &::before {
            content: '';
            display: block;
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: gray;
            position: absolute;
            z-index: -1;
            top: -9px;
            left: -50px;
            animation: scaleIt 1300ms ease-in-out 400ms 1 normal;
            animation-fill-mode: forwards;
        }
    }
    &__btnwrapper {
        display: flex;
        align-items: center;
        .button {
            margin-right: 40px;
            box-shadow: 4px 3px 2px rgb(107, 107, 107);
        }
        a:nth-child(2) {
            text-decoration: none;
            color: $main-color;
            &:hover {
                text-decoration: underline;
            }
        }
        a:nth-child(2), .button {
            transition: 400ms all ease-out;
            &:hover {
                transform: scale(1.1);
                
            }
        }
    }
}